<!DOCTYPE html>
<html lang="en">


<%- include('partials/head'); -%>


<body>
	<%- include('partials/nav'); -%>
	<main>
		<div class="container pt-5">
			<div class="row">
				<div class="col-12 card automatic" style="margin-top: 10vh;">
					<% if(typeof(data) !== 'undefined') { %>
					<h3>Success!</h3>
					<p>Here are your app's tokens:</p>

					<form>
						<div class="form-group">
							<label for="access_token">ACCESS TOKEN</label>
							<input type="text" class="form-control copy-link" id="access_token" name="access_token"
								aria-describedby="access_token" value="<%= data.access_token %>"
								data-clipboard-text="<%= data.access_token %>" role="button" readonly="readonly">
						</div>
						<% if(data.refresh_token != null && data.refresh_token.length > 0) { %>
						<div class="form-group">
							<label for="refresh_token">REFRESH TOKEN</label>
							<input type="text" class="form-control copy-link" id="refresh_token" name="refresh_token"
								aria-describedby="refresh_token" value="<%= data.refresh_token %>"
								data-clipboard-text="<%= data.refresh_token %>" role="button" readonly="readonly">
						</div>
						<% } %>
						<% if(data.scopes != null) { %>
						<div class="form-group">
							<label for="scope_list">SCOPES</label>
							<input type="text" class="form-control copy-link" id="scope_list" name="scope_list"
								aria-describedby="scope_list" value="<%= data.scopes %>"
								data-clipboard-text="<%= data.scopes %>" role="button" readonly="readonly">
						</div>
						<% } %>
						<div class="form-group">
							<label for="expires_at">EXPIRES AT <small>(UNIX)</small></label>
							<input type="text" class="form-control copy-link" id="expires_at" name="expires_at"
								aria-describedby="expires_at" value="<%= data.expires_at %>"
								data-clipboard-text="<%= data.expires_at %>" role="button" readonly="readonly">
							<small id="expires_at_human_readable" class="form-text text-muted"><a data-toggle="collapse"
									href="#showDate" role="button" aria-expanded="false"
									aria-controls="showHumanReadableDate">
									See
								</a> human readable date.</small>

							<div class="collapse" id="showDate">

								<input type="text" class="form-control copy-link" id="human_readable"
									value="<%= data.expires_at_human_readable %>"
									data-clipboard-text="<%= data.expires_at_human_readable %>" role="button"
									readonly="readonly">

							</div>
						</div>
						<div class="form-group">
							<a class="btn btn-primary" href="/#getTokens">Get Access Tokens</a>
							<a class="btn btn-secondary" href="/#refreshToken">Refresh Access Token</a>
						</div>
					</form>
					<% } %>

				</div>
			</div>

		</div>
		<%- include('partials/copied'); -%>
	</main>

</body>
<%- include('partials/footer'); -%>
</html>